<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/olympics_inheritance_demo/src/olympics_inheritance_demo/OlympicsTest.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="olympics_inheritance_demo.OlympicsTest"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="olympics_inheritance_demo"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="olympics_inheritance_demo"/>
</launchConfiguration>
